
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    top: 80px;
    font-size: 200px;
    
    text-align: center;
    
    color: rgb(255, 255, 255);
    
     
    
    }
    

    

